.game {
    padding-bottom: 50px;
}

.first {
    padding: 20px 0;
}

.timer {
    font-family: "Chakra Petch", sans-serif;
    font-size: 2rem;
    padding: 20px 20px;
    background: greenyellow;
    display: flex;
    justify-content: space-around;
}

.game-wraperr {
    display: flex;
    margin-bottom: 20px;
    button {
        height: 30px;
        min-width: 150px;
        margin: 5px;
    }
}

//Tetris style
