<div class="game">
    <h2>Testris game</h2>
    <div class="game-item">
        Yor name : {{user.name}} Your email:{{user.email | uppercase}}
    </div>
    <div class="game-item">
        <tetris-core #game></tetris-core>

        <button (click)="game.actionStart()">Start</button>
        <button (click)="game.actionStop()">Stop</button>
        <button (click)="game.actionReset()">Reset</button>
        <button (click)="game.actionRotate()">Rotate</button>
        <button (click)="game.actionLeft()">Left</button>
        <button (click)="game.actionRight()">Right</button>
        <button (click)="game.actionDown()">Down</button>
    </div>
</div>