.game {
    padding-bottom: 50px;
}

.first {
    padding: 20px 0;
}

.timer {
    font-family: "Chakra Petch", sans-serif;
    font-size: 2rem;
    padding: 20px 20px;
    background: greenyellow;
    display: flex;
    justify-content: space-around;
}
