<form action="" [formGroup]="spamForm" (submit)="onSubmit(spamForm)">
    <div class="wrapper">
        <div class="form-item">
            <label for="">Imie</label>
            <input type="text" formControlName="name" />{{name}}
        </div>
        <div class=" form-item">
            <label for="">email</label>
            <input type="text" formControlName="email" placeholder="write your email" />{{email}}

        </div>

        <div class="form-item" formGroupName="settings">
            <label for="">Color</label>
            <select formControlName="color">
        <option *ngFor="let color of availableColors" value={{color.value}}>
          {{ color.name }}
        </option>
      </select>
        </div>


        <button class="btn" [disabled]="!spamForm.valid">Dalej</button>


    </div>
</form>
