body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main {


    padding:20px;
}

.btn {
    min-width: 150px;
    min-height: 45px;
    background: goldenrod;
    border: 1px solid transparent;
    border-radius:5px;
}

.header {
    padding:20px;
    background:grey;
    color:#fff;
}

